<div id="panel">
	<img src="/assets/coffee_logo.png" alt="coffee logo" id="logo">
      <input id="address" type="text" placeholder="Bowie, MD" onkeydown="isEnter()">
      <input id="searchButton" type="button" value="Search" onclick="search()">
    </div>
    <div id="map-canvas"></div>